<footer>
  <div class="pull-right">
      Administration System / Gentelella - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a>
  </div>
  <div class="clearfix"></div>
</footer>
<!-- /footer content -->
</div>
</div>

<!-- jQuery -->
<script src="/admin/js/jquery.min.js"></script>
<!-- Bootstrap -->
<script src="/admin/js/bootstrap.min.js"></script>
<!-- toastr -->
<script src="/toastr/toastr.min.js"></script>
<!-- Custom Theme Scripts -->
<script src="/admin/js/custom.min.js"></script>
<!-- Vue.js2 -->
<script src="/vue/vue.js"></script>
<!-- Rest js files -->
<script src="/js/rest.js"></script>